*.txt
*.cs
*.json
*.Up2Date
*.cache
OldPhoneKeypad.Web/obj/Debug/net8.0/OldPhoneKeypad.Web.csproj.BuildWithSkipAnalyzers
OldPhoneKeypad.Web/obj/Debug/net8.0/OldPhoneKeypad.Web.dll
OldPhoneKeypad.Web/obj/Debug/net8.0/OldPhoneKeypad.Web.GeneratedMSBuildEditorConfig.editorconfig
OldPhoneKeypad.Web/obj/Debug/net8.0/OldPhoneKeypad.Web.pdb
*.wasm
*.gz
OldPhoneKeypad.Web/obj/Debug/net8.0/ref/OldPhoneKeypad.Web.dll
OldPhoneKeypad.Web/obj/Debug/net8.0/refint/OldPhoneKeypad.Web.dll
OldPhoneKeypad.Web/obj/Debug/net8.0/scopedcss/bundle/OldPhoneKeypad.Web.styles.css
*.css
*.build
OldPhoneKeypad.Web/obj/Debug/net8.0/staticwebassets/msbuild.build.OldPhoneKeypad.Web.props
OldPhoneKeypad.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.OldPhoneKeypad.Web.props
OldPhoneKeypad.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.OldPhoneKeypad.Web.props
OldPhoneKeypad.Web/obj/Debug/net8.0/staticwebassets/msbuild.OldPhoneKeypad.Web.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
OldPhoneKeypad.Web/obj/Debug/net8.0/staticwebassets/msbuild.OldPhoneKeypad.Web.Microsoft.AspNetCore.StaticWebAssets.props
OldPhoneKeypad.Web/OldPhoneKeypad.Web.csproj.user
OldPhoneKeypad.Web/OldPhoneKeypad.Web.csproj.user
OldPhoneKeypad.Core.Tests/obj/Debug/net8.0/OldPhoneKeypad.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
OldPhoneKeypad.Core/obj/Debug/net8.0-windows
OldPhoneKeypad.Web/bin/Debug
.vs/OldPhoneKeypad
packages/MSTest.TestFramework.2.2.10/build
packages/MSTest.TestFramework.2.2.10
