@inherits LayoutComponentBase
<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/ponjira-laphing-a89595257/details/experience/" target="_blank">About Me</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
